.banner {
    margin-bottom: 80px;
}

.banner__wrapper {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 374px;
    gap: 22px;
}

.banner__title {
    font-weight: 400;
    font-size: 57px;
    line-height: 1.2;
    letter-spacing: 2px;
    color: #3C4043;
}

.banner__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #3C4043;
}

.banner__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.banner__btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #3C4043;
    border: 2px solid #3C4043;
    border-radius: 4px;
    padding: 8px 25px;
}

.banner__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #3C4043;
}

.banner__picture {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}